body
{
  font-family: 'Lobster Two', cursive;
  margin: 0;
  text-align: center;
}

h1
{
  color: antiquewhite;
  font-size: 5.625rem; /*100% is really 16px. To get 90px size, 90px/16px =  */
  margin: 40px auto 0 auto;
}
h2
{
  color: lightyellow;
  font-weight:normal;
  font-size: 2.5rem;
  line-height: 2;
  margin-bottom: 5px;
}
.first-hr
{
  border-top: 0;
  margin: 0 auto 0 auto;

}

.top-container
{
  background-color: #3da4ab;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  background: #3da4ab;

}
.pic
{
  margin-top: 10px;
}
.bottom-container
{
  background: #3da4ab;
}

.top-cloud
{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
#bottom-Icon
{
  margin:0;
}
h3
{
  margin-top: 0;
  text-decoration: underline;
}

a
{
  color: rebeccapurple;
}
